<!DOCTYPE html>
<html>
<head>
<title>Simple Camera Canvas Manipulation</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<script type="text/javascript" src="camcanvas.js"></script>
<script type="text/javascript" src="grid.js"></script>
<script type="text/javascript" src="version.js"></script>
<script type="text/javascript" src="detector.js"></script>
<script type="text/javascript" src="formatinf.js"></script>
<script type="text/javascript" src="errorlevel.js"></script>
<script type="text/javascript" src="bitmat.js"></script>
<script type="text/javascript" src="datablock.js"></script>
<script type="text/javascript" src="bmparser.js"></script>
<script type="text/javascript" src="datamask.js"></script>
<script type="text/javascript" src="rsdecoder.js"></script>
<script type="text/javascript" src="gf256poly.js"></script>
<script type="text/javascript" src="gf256.js"></script>
<script type="text/javascript" src="decoder.js"></script>
<script type="text/javascript" src="qrcode.js"></script>
<script type="text/javascript" src="findpat.js"></script>
<script type="text/javascript" src="alignpat.js"></script>
<script type="text/javascript" src="databr.js"></script>
</head>

<body onload="init()">

<a href='https://github.com/taboca/telasocial-labs/tree/master/pages/webcam-canvas'>This demo works with Chrome Canary for now</a> - help update

<button onclick="setFunction(passEmboss)">Emboss</button>
<button onclick="setFunction(passRed)">Red</button>
<button onclick="setFunction(passNormal)">Normal</button>
<button onclick="setFunction(passInverse)">Inversed</button>
<button onclick="setFunction(passGray)">Grayscale</button>
<button onclick="setFunction(getQr)">getQr</button>


<p>
<video id="v" width="320" height="240"></video>
<canvas id="c" width="320" height="240"></canvas>
</p>

</html>

</body>
</html>
